<!DOCTYPE >
<link href="file:///Users/alyssarice/swcguild/albumstylehtml" rel="stlyesheet" type="text/css" />
<a> a:hover{color:bisque
    <p style="color:red;font-weight:bold; In one fell swoop.</p>;}
    </a>
    

th{background-color: #ddd;
    }
<div>
background: <img src="https://images-na.ssl-images-amazon.com/images/I/6169JEAZ2CL.jpg" alt="The Spill Canvas" style="width:450px; height; 400px"> 
<img> repeat;
</div>
<ul> <span style="style-font:italic 
<li>Nick Thomas- Vocals<li>
<li>Dan Ludeman- Guitars<li>
<li>Scott McGuire- Bass<li>
<li>Landon Hell<li>;"
</span>
</ul>

font-cursive:'Band Members and Producer'; 
<table border="1" width="100%">
<caption>Tracks</caption>
<tr bgcolor="pink">
<tr>
    <th>Track #</th>
    <th>Track title</th>
    <th>Track Length</th>
</tr>
<tr> <span style="style-font:italic
    <th>1</th>
    <th>2</th>
    <th>3</th>;"
    </span>
</tr>
<tr> <span style="stle-font:italic
    <th>Lust a Prima vista</th>
    <th>Staplegunned</th>
    <th>Polygraph, right now</th>;"
    </span>
</tr>
<tr> <span style="style-font:italic
    <th>3:25</th>
    <th>3:14</th>
    <th>3:04</th>;"
    </span>
</tr>