<!DOCTYPE >
<link href="file:///Users/alyssarice/swcguild/albumstylehtml" rel="stlyesheet" type="text/css" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<a> a:hover{color:bisque
    <p style="color:red;font-weight:bold; In one fell swoop.</p>;}
    </a>
    

th{background-color: #ddd;
    }
<div class="container">
    <h2>Circle</h2>
    <p>The .img-circle class shapes the image to a circle:</p>
 <img src="https://images-na.ssl-images-amazon.com/images/I/6169JEAZ2CL.jpg" class="img-circle" alt=The Spill Canvas" width="450" height="400"> 
<img> 
</div>
<ul> <span style="style-font:italic 
<li>Nick Thomas- Vocals<li>
<li>Dan Ludeman- Guitars<li>
<li>Scott McGuire- Bass<li>
<li>Landon Hell<li>;"
</span>
</ul>
    
<div class="container">
    <h2>Table</h2>
    <h3>Contexual Classes</h3>
    <p>The .table-responsive class creates a responsive table whicg will scroll horizontally on small device (under 768px).  When viewing on anything larger than 768px wide, there is no difference:</p>
    <p>Contexual classe can be used to color table rows or table cells.  The classes that can be used are: .acive, .success, .info, .warning, and .danger.</p>    
        <div class="table-responsive">
        <table class="table">
            <thead>
             <tr class="success">
                <th>Track #</th>
                <th>Track Title</th>
                <th>Track Length</th>
             </tr>
            </thead>
            <tbody>
              <tr class="danger">
                <td>1</td>
                <td>Lust a Pima Vista</td>
                <td>3:25</td>
              </tr>
              <tr class="info">
                <td>2</td>
                <td>Staplegunned</td>
                <td>3:14</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Polygraph, right now</td>
                <td>3:04</td>
              </tr>
           </tbody>
        </table>
        </div>
        

font-cursive:'Band Members and Producer'; 
<table border="1" width="100%">
<caption>Tracks</caption>
<tr bgcolor="pink">
