<!DOCTYPE CSS>
<html>
<link href="rest2html" rel="stylesheet" type="text/css" />
<link href="rest3html" rel="stylesheet" type="text/css" />
<link href="resthtmlaug" rel="stylesheet" type="text/css" />
<span class="glyphicon glyphicon-house"></span>
<p>House icon: <span class="glyphicon glyphicon-house"></span></p>
<p>House icon as a link:
    <a href="#"><span class="glyphicon glyphicon-house"></span></a>
</p>
<head>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
   <ol class="carousel-indicators">
     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
     <li data-target="#myCarousel" data-slide-to="1"></li>
     <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
    <div class="item active">
    <img src="www.farestart.org/sites/default/files/farestart%20resturat%20Home%20grid.jpeg"
    <div class="carousel-caption">
    <h3>Restuarant 2</h3>
    <p> We're opening a new location!</p>
</div>

<div class="item">
    <img src="4.bp.blogspot.com/-hQR8rHC6yYE/Uk6ncs8YK5I/AAAAAAAAYOI/a60E9FycOcQ/s1600/panera-fall-menu-2013.jpg"
<div class="carousel-caption">
<h3>Seasonal Menu</h3>
<p>We're rolling out our seasonal menu, with special options for this season.</p>
</div>

<div class="item"
    <img src="media2.fdncms.com/pittsburgh/imager/u/original/1948901/on-the-rocks-fall-beer.jpg"
<div class="carousel-caption">
<h3>The Drink of the Month</h3>
<p>The drink of the month is SG Special Brew</p>
</div.>

<!-- Left and right controls -->
<a class="left carousel-control" href="#mycarousel" role+"button" data-side="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
</span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
</span>
    <span class="sr-only">Next</span>
</a>
</div>
    
</div>
<div class=""
<div class="container">
<div class="jumbotron">
    <h1>Restuarant 2</h1>
    <p>Annoucing the opening of our second restuarant! Restuarant 2! Grand opening September 
</div>
<p>This is some text</p>
<p>This is another text</p>
</div>


<style>
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.warning{
    font-weight: bold;
    color: peachpuff
}
div.warning {
    font-style: italic;
}
<h1>Burgers and fries</h1>
<p>An American Classic!</p>
<p>Your choice- with or without cheese.</p>
<p>Pickle, onion, tomato, and lettuce.</p>
<p>Served with our famous thick cut french fries</p>
<p>$7.95</p>

<h2>Tenderloin Sandwich and Chips</h2>
<p>Really hits the spot!</p>
<p>Plain or seasame seed bun</p>
<p>pickle, onion, tomato, and lettuce</p>
<p>Served with our house-made chips</p>
<p>$8.95</p>

<h3>Hot Dog and Chips</h3>
<p>A Summer Classic!</p>
<p>Your choice- white or wheat bun</p>
<p>Relish, mustard, and ketchup</p>
<p>Served with our house-made chips</p>
<p>$7.95</p>

<h4>House Salad</h4>
<p>On the lighter side</p>
<p>Your choice- with or without cheese</p>
<p>Iceberg lettuce, tomatoes, peppers</p>
<p>Thousand Island dressing or ranch dressing</p>
<p>Served with a dinner roll</p>
<p>$6.95</p>

<h5>Italian Sausage and Peppers</h5>
<p>An all time favorite!</p>
<p>Your choice- mild or spicy</p>
<p>Cole Slaw</p>
<p>Served with garlic mashers</p>
<p>$10.95</p>

<h6>Brisket Sandwich and Fries</h6>
<p>A taste of Texas!</p>
<p>Smoked Brisket on thick-cut Texas toast</p>
<p>Cole slaw</p>
<p>Served with our famous thick-cut french fries</p>
<p>$7.95</p>
</style>
</head>
